@{
    ViewData["Title"] = "Vytvoreni objednavky";
}
<h2>@ViewData["Title"]</h2>


<form method="POST">


    <label for="user">Prihlaseny uzivatel</label>
    <input type="number" id="user" name="user" placeholder="User" />

    <hr />

    <input type="submit" value="Objednat vsechno zbozi v kosiku" />
</form>